<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Список студентів</title>
</head>
<body>
    <h1>Список студентів</h1>
    
    <table border="1">
        <thead>
            <tr>
                <th>Ім'я</th>
                <th>Прізвище</th>
                <th>Email</th>
                <th>Оцінка</th>
                <th>Дата народження</th>
            </tr>
        </thead>
        <tbody>
            {% for student in students %}
                <tr>
                    <td>{{ student.first_name }}</td>
                    <td>{{ student.last_name }}</td>
                    <td>{{ student.email }}</td>
                    <td>{{ student.grade }}</td>
                    <td>{{ student.birth_date }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>
